/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 $height-footer: 60px;

html {
  min-height: 100%;
  position: relative;
  body {
    margin-bottom: $height-footer;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }

  #footer {
    bottom: 0;
    width: 100%;
    position: absolute;
    height: $height-footer;
    background-color: #f5f5f5;
    .footer-block {
      margin: 20px 0;
    }
  }
}
 .navbar{
    padding: 0;
    border-right:2px soild white;
  }

  .navbar-brand{
    border-right: 2px solid white;
    padding-right: 15px;
  }

  .navsignin{
    border-right: 0;
    padding-right: 0;
  }

  .navlogo{
    border-right: 0;
  }

  .navDark {
    background: rgba(3, 118, 126, 0.671);
  }
  
  .nav-link {
    color: rgb(255, 255, 255) !important;
  }
  

  .links{
    display: flex;
    justify-content: flex-end;
  }
  
  .navbar>.links{
    display: flex;
    justify-content: flex-end;
  }
  .row{
    margin: auto;
    justify-content: center;
  }

  .flex{
    display: flex;
    flex-wrap: wrap;
  }

  label {
    font-size: 20px;
    color: rgb(32, 156, 165);
    margin-bottom: auto;
  }


.btn-info{
  font-size: 20px;
  background-color: rgba(3, 118, 126, 0.671);
  border-color: rgba(3, 118, 126, 0.671);
}


.Forma{
  border-radius: 5px; 
  border: .5px solid rgb(139, 187, 190);
  box-shadow: 0 3px 8px 0 rgb(192, 192, 192); 
  padding: 10px;
  background-color:whitesmoke;
}


.Signin{
 margin: auto;   
 margin-right:60px;
}

.Signup{
margin-left:85px;
margin-right: auto;
margin-bottom: auto;
margin-top: 80px;
}


.form-control{
  width:100%;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #6C757D;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

select{
  word-wrap: normal;
  width: 32%;
  height: calc(1.5em + .75rem + 2px);
}

.SignInBg {
background-size: cover;
background-attachment: fixed;
background-image: image-url("signin.png");
}


.SignUpBg {
background-size: cover;
background-attachment: fixed;
background-image: url('../images/signup.png');
}

.Signtext1{
font-weight: bold; 
text-align:center;
color: grey;
}

.Signtext2{
color: grey;
margin-bottom: 15px;
text-align:center;
}

.Signtext3 {
  color: rgb(175, 175, 175);
  margin-bottom: auto;
  margin-top: 5px;
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
}

.form-group{
  margin-right: 7px;
  margin-bottom: 10px;
  font-size: 16px;
}

.form-control{
  display: block;
}

.form-check-label {
margin-bottom: 5px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 16px;
  line-height: 18px;
}


address{
 font-family: verdana, arial, helvetica, sans-serif;
  font-size: 16px;
  line-height: 18px;
  margin-bottom: 1rem;
  font-style: normal;
  line-height: inherit;
}
 a{
  color: #666;
}